/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.pseudo-pin-hide-tab-bar .mod-root .workspace-tabs .workspace-tab-header-container  {
    display: none !important;
}